<header class="fixed top-0 w-full z-50 px-6 md:px-8 py-6 flex justify-between items-center backdrop-blur-md bg-black/50 border-b border-white/5 transition-all duration-300 font-sans">
  <a routerLink="/" class="text-white font-black tracking-tighter text-xl hover:text-purple-500 transition-colors">FG.</a>
  <nav class="flex gap-8 text-xs font-bold tracking-widest">
    <a routerLink="/projects" class="hover:text-purple-500 transition-colors text-white" routerLinkActive="!text-purple-500 text-purple-500">WORK</a>
    <a routerLink="/about" class="text-gray-400 hover:text-white transition-colors" routerLinkActive="!text-purple-500 text-purple-500">ABOUT</a>
  </nav>
</header>