<div
  class="flex flex-row items-center justify-center min-h-fit lg:min-h-screen lg:overflow-hidden bg-slate-100"
>
  <div class="container lg:w-10/12 lg:h-3/4 lg:bg-gray-600 lg:my-auto p-5">
    <div class="flex flex-row h-full">
      <!-- Profile Photo Section -->
      <div class="w-1/2 hidden lg:flex items-center justify-center">
        <div class="relative lg:w-96 lg:h-96 overflow-hidden shadow-xl">
          <!-- Replace this URL with your actual LinkedIn profile photo URL -->
          <img
            src="https://avatars.githubusercontent.com/u/113314823?v=4"
            alt="Felipe Gregorio"
            class="w-full h-full object-fill transition-all duration-300 hover:scale-105"
          />
        </div>
      </div>

      <!-- Text Content Section -->
      <div
        class="lg:w-1/2 flex flex-col items-start justify-center lg:pr-12 font-montserrat"
      >
        <h1 class="text-5xl text-orange-600 mb-2 font-bold">Felipe Gregorio</h1>
        <h2 class="text-3xl text-gray-600 lg:text-white my-1">
          Full Stack Developer
        </h2>
        <p class="text-gray-600 lg:text-white mb-1 text-justify mr-10">
          Hello! I'm a Computer Science major from Brazil with a passion for
          games, design, photography, and modding. I thrive on creativity and
          innovation, always seeking to blend technology with artistic
          expression. Whether it's developing immersive gaming experiences,
          capturing moments through my lens, or customizing and enhancing
          software, I'm dedicated to pushing the boundaries of what's possible.
        </p>
        <h3
          class="text-xl text-gray-600 lg:text-white mt-4 mb-2 max-sm:mx-auto"
        >
          Skills & Technologies
        </h3>
        <div
          class="grid lg:grid-cols-6 lg:grid-rows-2 grid-cols-4 grid-rows-3 gap-2 max-sm:mx-auto"
        >
          <!-- Frontend -->
          <div
            class="lg:w-24 lg:h-24 w-14 h-14 bg-blue-500 flex items-center justify-center text-white font-bold filter hover:brightness-90 transition-all"
          >
            <div class="text-center">
              <ng-icon name="boxAngularLogo" size="54" />
              <span class="hidden lg:block text-xs">Angular</span>
            </div>
          </div>
          <div
            class="lg:w-24 lg:h-24 w-14 h-14 bg-cyan-500 flex items-center justify-center text-white font-bold filter hover:brightness-90 transition-all"
          >
            <div class="text-center">
              <ng-icon name="boxReactLogo" size="40"></ng-icon>
              <span class="hidden lg:block text-xs">React</span>
            </div>
          </div>
          <div
            class="lg:w-24 lg:h-24 w-14 h-14 bg-teal-500 flex items-center justify-center text-white font-bold filter hover:brightness-90 transition-all"
          >
            <div class="text-center">
              <ng-icon name="boxTypescriptLogo" size="40"></ng-icon>
              <span class="hidden lg:block text-xs">TypeScript</span>
            </div>
          </div>
          <div
            class="lg:w-24 lg:h-24 w-14 h-14 bg-green-500 flex items-center justify-center text-white font-bold filter hover:brightness-90 transition-all"
          >
            <div class="text-center">
              <ng-icon name="boxJavascriptLogo" size="40"></ng-icon>
              <span class="hidden lg:block text-xs">JavaScript</span>
            </div>
          </div>
          <div
            class="lg:w-24 lg:h-24 w-14 h-14 bg-lime-500 flex items-center justify-center text-white font-bold filter hover:brightness-90 transition-all"
          >
            <div class="text-center">
              <ng-icon name="boxHtml5Logo" size="40"></ng-icon>
              <span class="hidden lg:block text-xs">HTML/CSS</span>
            </div>
          </div>
          <div
            class="lg:w-24 lg:h-24 w-14 h-14 bg-orange-500 flex items-center justify-center text-white font-bold filter hover:brightness-90 transition-all"
          >
            <div class="text-center">
              <ng-icon name="boxTailwindCssLogo" size="40"></ng-icon>
              <span class="hidden lg:block text-xs">Tailwind</span>
            </div>
          </div>

          <!-- Backend -->
          <div
            class="lg:w-24 lg:h-24 w-14 h-14 bg-purple-500 flex items-center justify-center text-white font-bold filter hover:brightness-90 transition-all"
          >
            <div class="text-center">
              <ng-icon name="boxNodejsLogo" size="40"></ng-icon>
              <span class="hidden lg:block text-xs">Node.js</span>
            </div>
          </div>
          <div
            class="lg:w-24 lg:h-24 w-14 h-14 bg-indigo-500 flex items-center justify-center text-white font-bold filter hover:brightness-90 transition-all"
          >
            <div class="text-center">
              <ng-icon name="boxUnityLogo" size="40"></ng-icon>
              <span class="hidden lg:block text-xs">Unity</span>
            </div>
          </div>
          <div
            class="lg:w-24 lg:h-24 w-14 h-14 bg-red-500 flex items-center justify-center text-white font-bold filter hover:brightness-90 transition-all"
          >
            <div class="text-center">
              <ng-icon name="boxJavaLogo" size="40"></ng-icon>
              <span class="hidden lg:block text-xs">Java</span>
            </div>
          </div>
          <div
            class="lg:w-24 lg:h-24 w-14 h-14 bg-pink-500 flex items-center justify-center text-white font-bold filter hover:brightness-90 transition-all"
          >
            <div class="text-center">
              <ng-icon name="boxPythonLogo" size="40" />
              <span class="hidden lg:block text-xs">Python</span>
            </div>
          </div>
          <div
            class="lg:w-24 lg:h-24 w-14 h-14 bg-yellow-500 flex items-center justify-center text-white font-bold filter hover:brightness-90 transition-all"
          >
            <div class="text-center">
              <ng-icon name="boxPostgresqlLogo" size="40" />
              <span class="hidden lg:block text-xs">SQL</span>
            </div>
          </div>
          <div
            class="lg:w-24 lg:h-24 w-14 h-14 bg-gray-500 flex items-center justify-center text-white font-bold filter hover:brightness-90 transition-all"
          >
            <div class="text-center">
              <ng-icon name="boxGitLogo" size="40" />
              <span class="hidden lg:block text-xs">Git</span>
            </div>
          </div>
          <div class="container mt-10">
            <div class="flex w-fit mx-auto text-s text-nowrap gap-5 content-stretch">
              <a
                href="mailto:felipealvesgregorio01@gmail.com"
                class="flex items-center p-2 bg-orange-500 text-white rounded-lg hover:bg-orange-600 transition-colors"
              >
                <span>📥</span>
                <span>felipealvesgregorio01&#64;gmail.com</span>
              </a>
              <a
                href="https://github.com/flp-gregorio"
                target="_blank"
                class="flex items-center p-2 bg-gray-800 text-white rounded-lg hover:bg-gray-900 transition-colors"
              >
                <span>💻</span>
                <span>GitHub</span>
              </a>
              <a
                href="https://www.linkedin.com/in/felipe-gregorio-85bb4b1a2/"
                target="_blank"
                class="flex items-center p-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition-colors"
              >
                <span>💼</span>
                <span>LinkedIn</span>
              </a>
              <a
                href="https://next.nexusmods.com/profile/Nevaty"
                target="_blank"
                class="flex items-center p-2 bg-green-600 text-white rounded-lg hover:bg-green-700 transition-colors"
              >
                <span>🎮</span>
                <span>Nexus Mods</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
